<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Favorite</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to favorites_path, class: button_class(theme: "transparent") do %>
      All Favorites
      <% end %>
      <%= link_to edit_favorite_path(@favorite), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Customer:</p>
        <p><%= @favorite.customer %></p>
      </li>
      <li>
        <p class="font-semibold">Product:</p>
        <p><%= @favorite.product %></p>
      </li>
  </ul>
</div>
