<div id="<%= dom_id order %>">
  <p>
    <strong>Orderdate:</strong>
    <%= order.orderdate %>
  </p>

  <p>
    <strong>Point:</strong>
    <%= order.point %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= order.customer_id %>
  </p>

</div>
